@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
/* line 4, ../sass/base/_base.scss */
* {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.01em;
}

/* line 10, ../sass/base/_base.scss */
.section-padding {
  padding: 30px 0;
}

/* line 15, ../sass/base/_base.scss */
.heading {
  margin: 30px 0;
  font-family: "Pacifico", cursive;
}

/* line 21, ../sass/base/_base.scss */
.primary-btn {
  background-color: #8b5a2b;
  color: #fff;
  border: 1px solid #8b5a2b;
  transition: 0.2s;
}
/* line 26, ../sass/base/_base.scss */
.primary-btn:hover {
  background-color: transparent;
  color: #8b5a2b;
}

/* line 32, ../sass/base/_base.scss */
a {
  outline: 0;
}

/* line 37, ../sass/base/_base.scss */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

/* line 43, ../sass/base/_base.scss */
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */
/* line 50, ../sass/base/_base.scss */
.social-network a.icoFacebook {
  background-color: #3B5998;
  border: 1px solid #3b5998;
}
/* line 53, ../sass/base/_base.scss */
.social-network a.icoFacebook:hover {
  background-color: transparent;
}
/* line 56, ../sass/base/_base.scss */
.social-network a.icoFacebook:hover i {
  color: #3b5998;
}

/* line 61, ../sass/base/_base.scss */
.social-network a.icoInsta {
  background-color: #c32aa3;
  border: 1px solid #c32aa3;
}
/* line 64, ../sass/base/_base.scss */
.social-network a.icoInsta:hover {
  background-color: transparent;
}
/* line 67, ../sass/base/_base.scss */
.social-network a.icoInsta:hover i {
  color: #c32aa3;
}

/* line 72, ../sass/base/_base.scss */
.social-network a.icoYoutube {
  background-color: #ff3232;
  border: 1px solid #ff3232;
}
/* line 75, ../sass/base/_base.scss */
.social-network a.icoYoutube:hover {
  background-color: transparent;
}
/* line 78, ../sass/base/_base.scss */
.social-network a.icoYoutube:hover i {
  color: #ff3232;
}

/* line 83, ../sass/base/_base.scss */
.social-network a.icoTrip {
  background-color: #00af87;
  border: 1px solid #00af87;
}
/* line 86, ../sass/base/_base.scss */
.social-network a.icoTrip:hover {
  background-color: transparent;
}
/* line 89, ../sass/base/_base.scss */
.social-network a.icoTrip:hover i {
  color: #00af87;
}

/* line 98, ../sass/base/_base.scss */
a.socialIcon:hover, .socialHoverClass {
  color: #44BCDD;
}

/* line 102, ../sass/base/_base.scss */
.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #D3D3D3;
}

/* line 115, ../sass/base/_base.scss */
.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

/* line 132, ../sass/base/_base.scss */
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

@media only screen and (max-width: 760px) {
  /* line 144, ../sass/base/_base.scss */
  .gallery-padding {
    padding: 10px 0;
  }
}
/* line 1, ../sass/module/_top-header.scss */
header {
  background-color: #f2f2f2;
}
/* line 3, ../sass/module/_top-header.scss */
header .col-md-4:nth-child(1), header .col-md-4:nth-child(3) {
  padding-top: 15px;
}

@media only screen and (max-width: 760px) {
  /* line 9, ../sass/module/_top-header.scss */
  header {
    text-align: center !important;
    padding-bottom: 10px;
  }
  /* line 12, ../sass/module/_top-header.scss */
  header .col-md-4:nth-child(3) {
    text-align: center;
  }
}
/* line 2, ../sass/module/_herosection.scss */
.herosection video {
  height: 500px;
}

@media only screen and (max-width: 760px) {
  /* line 9, ../sass/module/_herosection.scss */
  .herosection video {
    height: 200px;
  }
}
/* line 1, ../sass/module/_navbar.scss */
.navbar {
  border-radius: 0;
}
/* line 4, ../sass/module/_navbar.scss */
.navbar .nav li a {
  color: #fff;
}

/* line 10, ../sass/module/_navbar.scss */
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

/* line 16, ../sass/module/_navbar.scss */
.affix + .container-fluid {
  padding-top: 70px;
}

/* line 1, ../sass/module/_courses.scss */
.courses {
  background-color: #8b5a2b;
}
/* line 3, ../sass/module/_courses.scss */
.courses .heading {
  color: #fff;
}
/* line 8, ../sass/module/_courses.scss */
.courses .nav-tabs li a {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
/* line 12, ../sass/module/_courses.scss */
.courses .nav-tabs li a:hover {
  color: #222;
}
/* line 18, ../sass/module/_courses.scss */
.courses .tab-content {
  background-color: #575757;
  padding: 0 20px 0 20px;
}
/* line 21, ../sass/module/_courses.scss */
.courses .tab-content .tab-pane {
  padding: 20px 0;
}
/* line 25, ../sass/module/_courses.scss */
.courses .inner-tab-content {
  background-color: #fff;
}

/* line 30, ../sass/module/_courses.scss */
.courses .nav-tabs > li.active > a, .courses .nav-tabs > li.active > a:focus, .courses .nav-tabs > li.active > a:hover {
  background-color: #575757;
  border-bottom-color: #575757;
  color: #fff;
}

/* line 36, ../sass/module/_courses.scss */
.courses .inner-nab-tabs > li.active > a, .courses .inner-nab-tabs > li.active > a:focus, .courses .inner-nab-tabs > li.active > a:hover {
  background-color: #fff;
  border-bottom-color: #fff;
  color: #222;
}

/* line 1, ../sass/module/_contact.scss */
.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://www.hotelheritage.com.np/images/contact/c3.jpg");
  background-size: cover;
  color: #fff;
}

/* line 1, ../sass/module/_footer.scss */
footer {
  background-image: url("https://www.hotelheritage.com.np/images/backgrounds/bg1.jpg");
  background-size: 100%;
  padding: 75px 0 !important;
  width: 100%;
}
/* line 6, ../sass/module/_footer.scss */
footer a {
  color: #222;
}
/* line 8, ../sass/module/_footer.scss */
footer a:hover {
  text-decoration: none;
  color: #3f145b;
}
