.contact{
	// background-image: url(https://www.trekkingmart.com/public/images/upload/package/slider/pimage_bhaktapur-durbar-square-sightseeing-1.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://www.hotelheritage.com.np/images/contact/c3.jpg");
	background-size: cover;
	color: #fff;
}