.courses{
	background-color: #8b5a2b;
	.heading{
		color: #fff;
	}
	.nav-tabs{
		li{
			a{
			font-weight: bold;
			text-transform: uppercase;
			color: #fff;
			&:hover{
				color: #222;
			}
			}
		}
	}
	.tab-content{
		background-color: #575757;
		padding: 0 20px 0 20px;
		.tab-pane{
			padding: 20px 0;
		}
	}
	.inner-tab-content{
		background-color: #fff;
	}
}

.courses .nav-tabs > li.active > a, .courses .nav-tabs > li.active > a:focus, .courses .nav-tabs > li.active > a:hover{
	background-color: #575757;
	border-bottom-color: #575757;
	color: #fff;
}

.courses .inner-nab-tabs > li.active > a, .courses .inner-nab-tabs > li.active > a:focus, .courses .inner-nab-tabs > li.active > a:hover{
	background-color: #fff;
	border-bottom-color: #fff;
	color: #222;
}